export("ScoreTest_SPA","ScoreTest_wSaddleApprox_NULL_Model","ScoreTest_SPA_wMeta","SPAmeta")
importFrom("stats","glm","model.matrix","pchisq","pnorm","qnorm","uniroot","splinefunH","integrate","na.omit")
